/**
 * VARIABLES
 */

// COLORS

$black: #000;
$white: #fff;
$pink: #d58cc8;
$yellow: #f5c65d;

$facebook: #3b5998;
$twitter: #55acee;
$instagram: #3f729b;
$linkdein: #0077b5;

// FONT

$font-family: "Avenir", Arial;
$font-size-base: 16px;
$line-height-base: (20/14);

// LAYOUT

$psd-width: 1920px;
$container-width: 1300px;
$container-width-m: 1040px;
$gutter-width: 20px;

$psd-width_single-project-m: 800px;
$psd-width_single-project-l: 1000px;
$psd-width_single-project-xl: 1300px;

$footer-height: 6.5rem;

// TRANSITION

$ease-transition: width 0.3s ease;

// MISCELLANEOUS

$img-dir: "../img/";
$fonts-dir: "../../fonts/";

// RESPONSIVE

$slicer-breakpoints: 0 480px 768px 992px 1400px; // 1400 for 13" devices
$slicer-breakpoint-names: 'xs' 's' 'm' 'l' 'xl';
$slicer-anti-overlap-corrections: -1px;

//  TYPI
$breakpoints: ();