/**
 * WEBFONTS
 */

// FONT DECLARATION
// 100: Thin (Hairline)
// 200: Extra Light (Ultra Light)
// 300: Light
// 400: Normal
// 500: Medium
// 600: Semi Bold (Demi Bold)
// 700: Bold
// 800: Extra Bold (Ultra Bold)
// 900: Black (Heavy)

// THIN
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-thin.eot');
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-thin.eot?#iefix') format('embedded-opentype'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-thin.woff') format('woff'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-thin.ttf') format('truetype'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-thin.svg#lineto-brown-pro-thin') format('svg');
    font-weight: 100;
    font-style: normal;

}

// THIN ITALIC
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-thinItalic.eot');
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-thinItalic.eot?#iefix') format('embedded-opentype'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-thinItalic.woff') format('woff'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-thinItalic.ttf') format('truetype'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-thinItalic.svg#lineto-brown-pro-thinItalic') format('svg');
    font-weight: 100;
    font-style: italic;

}

// LIGHT
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-light.eot');
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-light.eot?#iefix') format('embedded-opentype'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-light.woff') format('woff'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-light.ttf') format('truetype'),
    	 url('#{$fonts-dir}/brown/lineto-brown-pro-light.svg#lineto-brown-pro-light') format('svg');
    font-weight: 300;
    font-style: normal;

}

// REGULAR
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-regular.eot');
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-regular.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-dir}/brown/lineto-brown-pro-regular.woff') format('woff'),
         url('#{$fonts-dir}/brown/lineto-brown-pro-regular.ttf') format('truetype'),
         url('#{$fonts-dir}/brown/lineto-brown-pro-regular.svg#lineto-brown-pro-regular') format('svg');
    font-weight: 400;
    font-style: normal;

}

// REGULAR ITALIC
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-Italic.eot');
    src: url('#{$fonts-dir}/brown/lineto-brown-pro-Italic.eot?#iefix') format('embedded-opentype'),
         url('#{$fonts-dir}/brown/lineto-brown-pro-Italic.woff') format('woff'),
         url('#{$fonts-dir}/brown/lineto-brown-pro-Italic.ttf') format('truetype'),
         url('#{$fonts-dir}/brown/lineto-brown-pro-Italic.svg#lineto-brown-pro-Italic') format('svg');
    font-weight: 400;
    font-style: italic;

}

// BOLD
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/bold/lineto-brown-pro-bold.eot');
    src: url('#{$fonts-dir}/brown/bold/lineto-brown-pro-bold.eot?#iefix') format('embedded-opentype'),
    	 url('#{$fonts-dir}/brown/bold/lineto-brown-pro-bold.woff') format('woff'),
    	 url('#{$fonts-dir}/brown/bold/lineto-brown-pro-bold.ttf') format('truetype'),
    	 url('#{$fonts-dir}/brown/bold/lineto-brown-pro-bold.svg#lineto-brown-pro-bold') format('svg');
    font-weight: 700;
    font-style: normal;

}

// BOLD ITALIC
@font-face {
    font-family: 'Brown';
    src: url('#{$fonts-dir}/brown/bold/lineto-brown-proItalic.eot');
    src: url('#{$fonts-dir}/brown/bold/lineto-brown-proItalic.eot?#iefix') format('embedded-opentype'),
    	 url('#{$fonts-dir}/brown/bold/lineto-brown-proItalic.woff') format('woff'),
    	 url('#{$fonts-dir}/brown/bold/lineto-brown-proItalic.ttf') format('truetype'),
    	 url('#{$fonts-dir}/brown/bold/lineto-brown-proItalic.svg#lineto-brown-pro-boldItalic') format('svg');
    font-weight: 700;
    font-style: italic;

}